@font-face {
  font-family: "HelveticaNeueW02-55Roma";
  src: url("/fonts/HelveticaNeue/HelveticaNeueW02-55Roma.woff2") format("woff2"),
    url("/fonts/HelveticaNeue/HelveticaNeueW02-55Roma.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@tailwind base;

body {
  font-family: "HelveticaNeueW02-55Roma", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@tailwind components;
@tailwind utilities;
